<!-- <div class="card mt-4">
    <h4 class="card-header">Welcome </h4>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}} - {{date| date:'dd-MM-yyyy'}}</li>
        </ul>
    </div>
</div> -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" /> 

<nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-inverse bg-primary mb-3">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-row d-flex">
        <a class="navbar-brand mb-1" href="#">LFD</a>
        <button type="button" class="hidden-md-up navbar-toggler" data-toggle="offcanvas"
            title="Toggle responsive left sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#myAlert">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="data">
            <li class="nav-item">
                <a class="nav-link" style="color: #f7f7f9 !important;" href="" data-target="#myModal" data-toggle="modal">
                    Welcome: <b> {{data['firstName']}} {{data['lastName']}}  ({{date| date:'dd-MMM-yyyy'}})</b> </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Relationship</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of list;  let i = index">
            <td>
                <div *ngIf="data['id'] == 1" > 
                    <i class="fa fa-pencil" 
                    (click)="user.isEditable=!user.isEditable" *ngIf="!user.isEditable"
                     aria-hidden="true"></i>

                     <i class="fa fa-floppy-o"
                     (click)="user.isEditable=!user.isEditable" *ngIf="user.isEditable"
                      aria-hidden="true"></i>
                   
                </div>
            </td>
            <td>
                 <span *ngIf="!user.isEditable">{{user.name}}</span>
                 <input *ngIf="user.isEditable" type="text" [(ngModel)]="user.name"/>
            </td>
            <td>
                <span *ngIf="!user.isEditable">{{user.relation}}</span>
                <input *ngIf="user.isEditable" type="text" [(ngModel)]="user.relation"/>
            </td>
        </tr>
    </tbody>
  </table>




</div>
